<?xml version="1.0"?>

<launch>

<arg name="room"                     default="cave"            />
<arg name="launch_rviz"              default="true"            />
<arg name="launch_stage"             default="true"            />
<arg name="launch_map_server"        default="true"            />
<arg name="launch_planner"           default="true"            />
<arg name="launch_graph_generator"   default="true"            />
<arg name="launch_controller"        default="true"            />
<arg name="cfg"                      default="robot_3"         />
<arg name="load_segments"            default="false"           />
<arg name="map_name"                 default=""                />

<!-- map server -->
<group if="$(arg launch_map_server)">
      <include file="$(find tuw_multi_robot_demo)/launch/map_server.launch">
      <arg name="room" value="$(arg room)" />
      </include>
</group>

<!-- start rviz -->
<group if="$(arg launch_rviz)">
  <include file="$(find tuw_multi_robot_demo)/launch/rviz.launch">
  <arg name="cfg" value="$(arg cfg)"/> 
  </include>
</group>


<group if="$(arg launch_stage)">
  <include file="$(find tuw_multi_robot_demo)/launch/stage.launch">
    <arg name="room" value="$(arg room)" />
  </include>
</group>

  
<group if="$(arg launch_planner)">
  <include file="$(find tuw_multi_robot_demo)/launch/multi_robot.launch">
    <arg name="cfg" value="$(arg cfg)" />
  </include>
</group>

<group if="$(arg launch_controller)">
  <node pkg="tuw_multi_robot_ctrl" type="tuw_velocity_controller" name="controller_0" output="screen">
    <param name="odom_topic" value="/robot_0/odom"/>
    <param name="cmd_vel_topic" value="/robot_0/cmd_vel"/>
    <param name="path_topic" value="/robot_0/global_planner/planner/plan"/>
    <param name="topic_control" value="/robot_0/ctrl"/>
  </node>
  <node pkg="tuw_multi_robot_ctrl" type="tuw_velocity_controller" name="controller_1" output="screen">
    <param name="odom_topic" value="/robot_1/odom"/>
    <param name="cmd_vel_topic" value="/robot_1/cmd_vel"/>
    <param name="path_topic" value="/robot_1/global_planner/planner/plan"/>
    <param name="topic_control" value="/robot_1/ctrl"/>
  </node>
  <node pkg="tuw_multi_robot_ctrl" type="tuw_velocity_controller" name="controller_2" output="screen">
    <param name="odom_topic" value="/robot_2/odom"/>
    <param name="cmd_vel_topic" value="/robot_2/cmd_vel"/>
    <param name="path_topic" value="/robot_2/global_planner/planner/plan"/>
    <param name="topic_control" value="/robot_2/ctrl"/>
  </node>
</group>

<group if="$(arg launch_graph_generator)">
  <group if="$(arg load_segments)">
  <include file="$(find tuw_multi_robot_demo)/launch/graph_generator.launch">
    <arg name="room" value="$(arg room)" />
    <arg name="custom_graph_path" value="$(find tuw_multi_robot_demo)/cfg/graph/$(arg room)/cache/$(arg map_name)" />
  </include>
  </group>
  <group unless="$(arg load_segments)">
  <include file="$(find tuw_multi_robot_demo)/launch/graph_generator.launch">
    <arg name="room" value="$(arg room)" />
  </include>
  </group>
</group>

<include file="$(find tuw_multi_robot_demo)/launch/path_synchronizer.launch">
  <arg name="cfg" value="$(arg cfg)" />
</include>
</launch>
