<?xml version="1.0"?>

<launch>
    <arg name="cfg"  default="default" />
	
    <node pkg="tuw_multi_robot_route_to_path" type="tuw_multi_robot_route_to_path_node" name="path_synchronizer" output="screen">
            <rosparam command="load" file="$(find tuw_multi_robot_demo)/cfg/tuw_multi_robot_route_to_path/$(arg cfg)/multi_robot.yaml" />
    </node>
</launch>

	
