<?xml version="1.0"?>

<launch>

<arg name="room"                     default="cave"            />
<arg name="launch_rviz"              default="true"            />
<arg name="launch_stage"             default="true"            />
<arg name="launch_map_server"        default="true"            />
<arg name="launch_planner"           default="true"            />
<arg name="launch_graph_generator"   default="true"            />
<arg name="launch_controller"        default="true"            />
<arg name="cfg"                      default="robot_3"         />
<arg name="load_segments"            default="false"           />
<arg name="map_name"                 default=""                />

<!-- map server -->
<group if="$(arg launch_map_server)">
  <include file="$(find tuw_multi_robot_demo)/launch/map_server.launch">
    <arg name="room" value="$(arg room)" />
  </include>
</group>

<!-- start rviz -->
<group if="$(arg launch_rviz)">
  <include file="$(find tuw_multi_robot_demo)/launch/rviz.launch">
  <arg name="cfg" value="$(arg cfg)"/> 
  </include>
</group>


<group if="$(arg launch_stage)">
  <include file="$(find tuw_multi_robot_demo)/launch/stage.launch">
    <arg name="room" value="$(arg room)" />
  </include>
</group>

  
<group if="$(arg launch_planner)">
  <include file="$(find tuw_multi_robot_demo)/launch/multi_robot.launch">
    <arg name="cfg" value="$(arg cfg)" />
  </include>
</group>

<group if="$(arg launch_controller)">
  <node pkg="tuw_multi_robot_ctrl" type="tuw_velocity_controller" name="controller_0" output="screen" >
    <param name="odom_topic" value="/robot_0/odom"/>
    <param name="cmd_vel_topic" value="/robot_0/cmd_vel"/>
    <param name="path_topic" value="/robot_0/path"/>
    <param name="topic_control" value="/robot_0/ctrl"/>
  </node>
  
  <node pkg="tuw_multi_robot_ctrl" type="tuw_velocity_controller" name="controller_1" output="screen" >
    <param name="odom_topic" value="/robot_1/odom"/>
    <param name="cmd_vel_topic" value="/robot_1/cmd_vel"/>
    <param name="path_topic" value="/robot_1/path"/>
    <param name="topic_control" value="/robot_1/ctrl"/>
  </node>
  
  <node pkg="tuw_multi_robot_ctrl" type="tuw_velocity_controller" name="controller_2" output="screen">
    <param name="odom_topic" value="/robot_2/odom"/>
    <param name="cmd_vel_topic" value="/robot_2/cmd_vel"/>
    <param name="path_topic" value="/robot_2/path"/>
    <param name="topic_control" value="/robot_2/ctrl"/>
  </node>
</group>

<group if="$(arg launch_graph_generator)">
  <group if="$(arg load_segments)">
  <include file="$(find tuw_multi_robot_demo)/launch/graph_generator.launch">
    <arg name="room" value="$(arg room)" />
    <arg name="custom_graph_path" value="$(find tuw_multi_robot_demo)/cfg/graph/$(arg room)/cache/$(arg map_name)" />
  </include>
  </group>
  <group unless="$(arg load_segments)">
  <include file="$(find tuw_multi_robot_demo)/launch/graph_generator.launch">
    <arg name="room" value="$(arg room)" />
  </include>
  </group>
</group>

<node pkg="tuw_multi_robot_local_behavior_controller" type="tuw_local_behavior_controller_node" name="behavior_0" output="screen">
  <param name="robot_name" value="robot_0" />
  <param name="robot_radius" value="0.3" />
</node>

<node pkg="tuw_multi_robot_local_behavior_controller" type="tuw_local_behavior_controller_node" name="behavior_1" output="screen">
  <param name="robot_name" value="robot_1" />
  <param name="robot_radius" value="0.3" />
</node>

<node pkg="tuw_multi_robot_local_behavior_controller" type="tuw_local_behavior_controller_node" name="behavior_2" output="screen">
  <param name="robot_name" value="robot_2" />
  <param name="robot_radius" value="0.3" />
</node>

<node pkg="nodelet" type="nodelet" name="pose0" args="standalone FakePoseEstimationNodelet">
  <remap from="/pose0/pose" to="/robot_0/pose"/>
  <remap from="/pose0/odom" to="/robot_0/odom"/>
</node>

<node pkg="nodelet" type="nodelet" name="pose1" args="standalone FakePoseEstimationNodelet">
  <remap from="/pose1/pose" to="/robot_1/pose"/>
  <remap from="/pose1/odom" to="/robot_1/odom"/>
</node>

<node pkg="nodelet" type="nodelet" name="pose2" args="standalone FakePoseEstimationNodelet">
  <remap from="/pose2/pose" to="/robot_2/pose"/>
  <remap from="/pose2/odom" to="/robot_2/odom"/>
</node>

</launch>
