<library path="lib/libtuw_rqt_ordermanager">
  <class name="tuw_rqt_ordermanager/RQTOrdermanager" type="tuw_rqt_ordermanager::RQTOrdermanager" base_class_type="rqt_gui_cpp::Plugin">
    <description>
        TUW Order Manager
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>TUW Order Manager</label>
      <!--icon type="theme">system-help</icon-->
      <statustip></statustip>
    </qtgui>
  </class>
</library>
