<launch>
    <arg name="segment_file" default="segments.yaml" />
    <arg name="room" default="cave" />
  
    <node pkg="tuw_voronoi_graph" type="tuw_segment_to_graph_node" name="segments_to_graph_node" output="screen"> 
        <param name="segment_file" value="$(find tuw_voronoi_graph)/cfg/segment_to_path/$(arg room)/$(arg segment_file)"/>  
        <param name="segment_length" value="1.0"/>
        <param name="segment_topic" value="segments"/>
    </node>
</launch>