<launch>
	<arg name="robotnr" default="3"/>
	<arg name="cfg"  default="default" />

  	<node  pkg="tuw_voronoi_graph" type="path_segmentation_node" name="path_segmentation_node" output="screen">
		<rosparam command="load" file="$(find tuw_voronoi_graph)/cfg/$(arg cfg)/segmentation.yaml" />
	</node>
</launch>
