<?xml version="1.0"?>

<launch>

  <arg name="room"                  default="cave"            />
  <arg name="use_rviz"              default="true"            />
  <arg name="use_stage"             default="true"            />
  <arg name="use_map_server"        default="true"            />
  <arg name="use_planner"           default="true"            />
  <arg name="use_controller"        default="true"            />
  <arg name="use_graph_generator"   default="true"            />
  <arg name="cfg"                   default="default"         />
  <arg name="use_path_synchronizer" default="false"           />

  <!-- map server -->
  <group if="$(arg use_map_server)">
        <include file="$(find tuw_multi_robot_demo)/launch/map_server.launch">
        <arg name="room" value="$(arg room)" />
        </include>
  </group>


  <!-- start rviz -->
  <group if="$(arg use_rviz)">
	  <include file="$(find tuw_multi_robot_demo)/launch/rviz.launch">
		<arg name="cfg" value="$(arg cfg)"/> 
	  </include>
  </group>


  <group if="$(arg use_stage)">
	  <include file="$(find tuw_multi_robot_demo)/launch/stage.launch">
	    <arg name="room" value="$(arg room)" />
	  </include>
  </group>

    
  <group if="$(arg use_planner)">
	  <include file="$(find tuw_multi_robot_demo)/launch/multi_robot.launch">
	    <arg name="cfg" value="$(arg cfg)" />
	  </include>
  </group>
	
  <group if="$(arg use_controller)">
	  <include file="$(find tuw_multi_robot_demo)/launch/controller.launch">
	    <arg name="cfg" value="$(arg cfg)" />
	  </include>
  </group>


  <group if="$(arg use_graph_generator)">
	  <include file="$(find tuw_multi_robot_demo)/launch/graph_generator.launch">
	    <arg name="room" value="$(arg room)" />
	  </include>
  </group>

  <group if="$(arg use_path_synchronizer)">
	  <include file="$(find tuw_multi_robot_demo)/launch/path_synchronizer.launch">
	    <arg name="cfg" value="$(arg cfg)" />
	  </include>
  </group>
</launch>
