<launch>

  <arg name="room"             default="cave"            />
  <arg name="use_rviz"         default="true"            />
  <arg name="use_stage"        default="true"            />
  <arg name="use_map_server"   default="true"            />
  <arg name="use_planner"      default="true"            />
  <arg name="use_controller"   default="true"            />
  <arg name="use_segmentation" default="true"		 />
  <arg name="cfg"	       default="default"	 />

  <!-- map server -->
  <group if="$(arg use_map_server)">
	  <include file="$(find tuw_multi_robot_demo)/launch/voronoi_map_server.launch">
	    <arg name="room" value="$(arg room)" />
	  </include>
	  <include file="$(find tuw_multi_robot_demo)/launch/voronoi_visualization.launch">
	  </include>
  </group>


  <!-- start rviz -->
  <group if="$(arg use_rviz)">
	  <include file="$(find tuw_multi_robot_demo)/launch/rviz.launch">
		<arg name="cfg" value="$(arg cfg)"/> 
	  </include>
  </group>


  <group if="$(arg use_stage)">
	  <include file="$(find tuw_multi_robot_demo)/launch/stage.launch">
	    <arg name="room" value="$(arg room)" />
	  </include>
  </group>

    
  <group if="$(arg use_planner)">
	  <include file="$(find tuw_multi_robot_demo)/launch/multi_robot.launch">
	    <arg name="cfg" value="$(arg cfg)" />
	  </include>
  </group>
	
  <group if="$(arg use_controller)">
	  <include file="$(find tuw_multi_robot_demo)/launch/controller.launch">
	  </include>
  </group>


  <group if="$(arg use_segmentation)">
	  <include file="$(find tuw_multi_robot_demo)/launch/segmentation.launch">
	    <arg name="room" value="$(arg room)" />
	  </include>
  </group>

</launch>
